<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<header>
		<div class="topnav">
		  <ul>
			<a href="#">Accueil</a>
			<a href="#">Catalogue</a>
			<a href="#">Boutiques</a>
			<a href="#">Connexion/Déconnexion</a>
		  </ul>
		</div>
	</header>
	
<body>
<app-connexion-admin></app-connexion-admin>
<app-inscription></app-inscription>

</body>
<footer>
        <p>© 2018 Gandalf </p>
		<p><a href="https://google.com">Google</a></p>
		<p><a href="https://google.com">CGV</a></p>
 </footer>
</html>